<footer class="container">
  <p>
    <small>  
      <a href="https://mastodon.online/@aphilas">Mastodon</a>  • 
      <a href="https://github.com/aphilas">GitHub</a> • 
      <a href="mailto:nevilleomangi@gmail.com">Email</a> •   
      <a href="https://www.linkedin.com/in/neville-omangi-62b290173/">LinkedIn</a>
    </small>
  </p>

  <p>
    <small>
        <span class="inline-block rotate-180">&copy;</span>
        2022 Neville Omangi. No rights reserved.
    </small>
  </p>
</footer>
