<nav class="px-4">
  <ul>
    <li>
      <a href="/" class="secondary">
        <strong>Neville Omangi</strong>
      </a>
    </li>
  </ul>

  <ul>
    <li><a href="/#bio">Bio</a></li>
    <li><a href="/#projects">Projects</a></li>
    {% comment %} <li><a href="#links">Links</a></li> {% endcomment %}
    <li><a href="/posts">Posts</a></li>
    <li><a 
      href="https://docs.google.com/document/d/1r0hTXL7sNq7EnGPZNs5T8jXwqwEtJBMpi26Kk6EgkFQ/edit?usp=sharing"
      class="external"
    >Resume</a></li>
  </ul>
</nav>
