:root {
  --base-color: #111;
  --link-color: #111;
  --link-hover-color: #0070f3;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #fff;
  color: #111;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}


/* Fix monospace font size */

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Headings */

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
