html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
  box-sizing: border-box;
}

header nav ul {
    list-style-type: none;
    padding: 0 2em 1em 0;
    display: flex;
    gap: 1em;
    justify-content: end;
    align-items: center;
}

header nav ul > li:first-of-type {
    margin-right: auto;
}

header nav a {
    color: black;
    text-decoration: none;
}

header nav a:hover {
    color: blue;
}
