:root {
  color-scheme: light dark;
  
  /* The higher the darker */
  --light-gray-1: #eee;
  --light-gray-2: #ccc;
  --light-gray-3: #aaa;

  /* The higher the lighter */
  --dark-gray-1: #111;
  --dark-gray-2: #333;
  --dark-gray-3: #555;

  /* Icon colors */
  --rss-color: #f60;
  --mastodon-color: #6364ff;
  --bluesky-color: #1da1f2;
  --email-color: #d44638;
  --github-color: #333;
  --github-color-dark: #fff;

  --background: light-dark(#fff, #222);
  --color: light-dark(#111, #eee);
  --link-color: var(--color);
  --link-hover-color: light-dark(#0070f3, #3291ff);
  
  --mobile-breakpoint: 600px;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: var(--background);
  color: var(--color);
  line-height: 1.4;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Fix monospace font size */

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Headings */

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* Normalize */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}
