html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #fff;
    color: #111;
    line-height: 1.4;
}

* {
  box-sizing: border-box;
}

header nav ul {
    list-style-type: none;
    padding: 0 2em 1em 0;
    display: flex;
    gap: 1em;
    justify-content: end;
    align-items: center;
}

header nav ul > li:first-of-type {
    margin-right: auto;
}

header nav a {
    color: black;
    text-decoration: none;
}

header nav a:hover {
    color: blue;
}

footer {
    text-align: center;
    padding: 2em 1em;
    font-size: 0.875rem;
    color: #666;
}

.astro-code {
    padding: 1em;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 2em 0;
}
