hr {
  border: none;
  border-top: 1px solid light-dark(var(--light-gray-1), var(--dark-gray-2));
  margin: 2em 0;
}

blockquote {
  border-left: 4px solid light-dark(var(--light-gray-2), var(--dark-gray-3));
  color: light-dark(var(--dark-gray-1), var(--light-gray-3));
  margin: 0;
  padding-left: 1em;
}

article p {
  line-height: 1.6;
}

/* Inline code */

code {
  background-color: light-dark(var(--light-gray-1), var(--dark-gray-2));
  color: light-dark(var(--dark-gray-3), var(--light-gray-2));
  padding: 1px 2px;
  border-radius: 4px;
}

pre code {
  background-color: initial;
  padding: initial;
  border-radius: initial;
  color: inherit;
}

/* Undo normalize */

article a {
  text-decoration: underline;
}

article ul {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  list-style: initial;
}
