---
import "../styles/global.css";
import PageLayout from "../layouts/PageLayout.astro";
---

<style>
  .hero hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero h1 {
    font-size: 5em;
    font-weight: 900;
  }
</style>

<PageLayout>
  <section class="hero">
    <hgroup>
      <h1>Neville Omangi</h1>
    </hgroup>

    <h2>Fullstack Engineer</h2>

    <div>
      <p>
        I am a Software Engineer with 3+ years of experience architecting,
        developing, and deploying products for startups and enterprises alike.
      </p>
    </div>
  </section>
</PageLayout>
