---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  .hero hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero h1 {
    font-size: 5em;
    font-weight: 900;
  }
</style>

<BaseLayout>
  <section class="hero">
    <hgroup>
      <h1>Neville Omangi</h1>
    </hgroup>

    <h2>Fullstack Engineer</h2>

    <div>
      <p>
        I am a Full-Stack & Backend Engineer with 3+ years of experience
        architecting, developing, and deploying products for startups and
        enterprises in finance, insurance, edtech, and beyond.
      </p>
    </div>
  </section>
</BaseLayout>
