<style>
nav ul {
  padding: 0 2em 1em 0;
  display: flex;
  gap: 1em;
  justify-content: end;
  align-items: center;
}

nav ul>li:first-of-type {
  margin-right: auto;
}

nav a {
  font-weight: 500;
}
</style>

<header>
  <nav>
    <ul>
      <li><a href="/"><img src="/avatar.png" alt="Avatar" width="64" height="64" title="Home" /></a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
