---
import type { Post } from "../types/index.ts";
import { Icon } from "astro-icon/components";
import Tags from "./Tags.astro";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<style>
h3 {
  margin: 0.5rem 0;
}

.metadata {
  display: flex;
  gap: 1rem;
  font-size: medium;
  color: light-dark(var(--dark-gray-3), var(--light-gray-2));
}

.metadata > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.post-list p {
  margin: 0.5rem 0;
}

.post-list > li {
  margin-bottom: 1rem;
}
</style>

<ul class="post-list">{posts.map((post: Post) => (
  <li>
    <a href={post.url}>
      <h3>{post.frontmatter.title}</h3>
    </a>

    {post.frontmatter.description && (
      <p>{post.frontmatter.description}</p>
    )}
    
    <div class="metadata">
      <div class="date">
        <Icon name="mdi:calendar-month" title="Published On" />
        <span title="Published On">{post.frontmatter.pubDate.toString().slice(0, 10)}</span>
      </div>

    <div class="tags">
      <Icon name="mdi:tag-multiple" title="Tags" />

      <Tags tags={post.frontmatter.tags} />
    </div>
    </div>
  </li>
))}</ul>
