---
import type { Post } from "../types/index.ts";
import Tags from "./Tags.astro";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<style>
h3 {
  margin: 0.5rem 0;
}

.post-list p {
  margin: 0.5rem 0;
}

.post-list > li {
  margin-bottom: 1rem;
}
</style>

<ul class="post-list">{posts.map((post: Post) => (
  <li>
    <a href={post.url}><h3>{post.frontmatter.title}</h3></a>

    {post.frontmatter.description && <p>{post.frontmatter.description}</p>}
    
    <Tags tags={post.frontmatter.tags} />
  </li>
))}</ul>
