---
import BaseLayout from './BaseLayout.astro';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<style>
main {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 100ch;
  min-height: 100dvh;
}
</style>

<BaseLayout pageTitle={pageTitle}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
